@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

	a,
	button,
	input,
	select {
		@apply outline-primary;
	}

	.animate-ease {
		animation-timing-function: cubic-bezier(0.87, 0.07, 0, 1.01);
	}

}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 100;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20%)
	}

	to {
		opacity: 100;
		transform: translateY(0%)
	}
}

.Modal {
	@apply absolute top-12 mb-10 left-0 right-0 mx-auto w-[36rem] z-50 animate-[fadeInUp_400ms] animate-ease
}

.Modal-heading {
	@apply text-xl font-medium text-grey-100 text-center py-6;
}

.Modal-body {
	@apply px-6 pb-6;
}

.Modal-overlay {
	@apply fixed inset-0 bg-black bg-opacity-60 z-[49] animate-[fadeIn_300ms_ease-out];
}

.split {
	display: flex;
	flex-direction: row;
}

body,
html,
main {
	@apply h-full
}

.gutter {
	background-color: #222;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
	cursor: col-resize;
}

.gutter.gutter-vertical {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
	cursor: row-resize;
}
